@charset "utf-8";
/* CSS Document */
/*body{padding-top:130px;}*/
p{ word-wrap:break-word;}

hr{
	border-color:#ddd;
	margin:40px 0;
}
a{
	color:inherit;
	text-decoration:none;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
	
}

a:hover,a:focus,a:active{
	text-decoration:none;
	color:	#a47f1a;
}
/* round background icon button */
.round-button {
    display:inline-block;
    /*box-shadow: 0 0 3px gray;*/    
	font-size:14px;
    font-weight:bold;
	-webkit-transition:color 0.3s linear;
	transition:color 0.3s linear;
	vertical-align:central;
}

.round-button:hover {
color:#a47f1a;
}

/* link more block */

.link-more{
	width:100%;
	display:inline-block;
	height:auto;	
}

.image-preview-container,.image-preview-container2{
	background-color:#f8f8f8;
	overflow:hidden;
	position:relative;
	width:100%;
	text-align:center;
	-webkit-transition:background 0.2s linear;
	transition:background 0.2s linear;
	
}
.image-preview-container{
	padding-bottom:35%;
	padding-top:40%;	
}
.image-preview-container2{
	padding-bottom:70%;
	padding-top:55%;	
}
.image-preview-container .round-button:hover,
.image-preview-container2 .round-button:hover{
	
}

.link-more{
	color:#201f1e;
	-webkit-transition:color 0.2s linear;
	transition:color 0.2s linear;
}

.link-more:hover{
	color:#f6f4ec;
	text-decoration:none;
}

.link-more:hover > .image-preview-container, .link-more:hover > .image-preview-container2{
	background-color:#201f1e;
}

.link-more:hover .round-button{
	color:#a47f1a;
	
}	

/* thumbnail block */
a >.thumbnail{
	margin-bottom:0px;
	
}
.thumbnail{
  border-bottom-width:5px;	
  -webkit-transition:all 0.3s linear;
	transition:all 0.3s linear;

}
a:hover > .thumbnail{
	border-bottom-width:5px;
	border-color:#a47f1a;	
	border-bottom-color:#990000;
}
a>.thumbnail>img{
	-webkit-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
.img-responsive{
	margin-left:auto;
	margin-right:auto;
}
.tint {
  position: relative;
  cursor: pointer;
  text-align:center;
}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s linear;
}

a:hover .tint:before{
	background: rgba(0,0,0, 0.5); 
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active{
	border-bottom-width:5px;
	border-color:#a47f1a;	
	border-bottom-color:#990000;
			
}
a.thumbnail:hover + a,
a.thumbnail:focus + a,
a.thumbnail.active + a
{
	text-decoration:none;
	color:	#a47f1a;
}

a.test:hover +　a.thumbnail{
	border-bottom-width:5px;
	border-color:#a47f1a;	
	border-bottom-color:#990000;

}

/* Navgation */

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 23px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-brand {
  float: left;
  margin-top: 16px;
  padding: 0px 15px;
  font-size: 22px;
  line-height: 25px;
  max-height: 98px;
}

.collapse{
 background-color: #201f1e;
 height: 60px;
 color: white;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
  background-color: #201f1e;
  border-color: #201f1e;
}


/*Carousel control customize*/
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	text-shadow:none;
    min-height:120px;
	text-align:left;
	padding-bottom:0px;
	
}

.carousel-control.right, .carousel-control.left{
	background:none;	
}

.carousel-control.right{
	background-image:none;	
}

.carousel-control.left{
	background-image:none;	
}

.carousel-indicators{
  bottom: 130px;	
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
  top:35%;	
	
}

/*Footer layout                             */

footer{
	margin-top:40px;	
}

#footer-lay1{
	height:287px;
	background:#f8f8f8;
	padding-top:30px;	
}

#footer-lay1 ul{
	list-style-type:none;
	padding-left:0px;
}

#footer-lay1 ul li{
	margin-top:10px;
}

#footer-lay1 hr{
margin-top:10px;
margin-bottom:20px;
}

#footer-lay2{
	height:	114px;
	background:#ffffff;
	padding-top:20px;
}

#footer-lay3{
	padding-top:10px;
	height:50px;
	background:#201f1e;	
}

#footer-lay3 p{
	color:#f6f4ec;
	text-align:center;
}

/*layout adjustment */

.items-row{
	margin-bottom:40px;	
}

.items-row:last-of-type{
	
	margin-bottom:0px;	
}


/*social icon*/
.social{
	text-align:center;	
}

.social-icon{
	font-size:2.0em;
	color:#666;
	text-align:center;
}


.social-icon:hover{
	color:#a47f1a;	
}

.social-icon span{
	font-size:1.6rem;
	display:block;
}


/* content block of category */

body.content-page{
	background:#f3f3f4;
}

.content-tag{
	margin-bottom: 20px;
	
}

.content-main{
	min-height:600px;
	box-sizing:border-box;
	border: 5px solid #e6e6e6;
	padding: 10px;
	
}

.content-block{
   background:#f8f8f8;
   padding-bottom:5px;
	
}

.tab-sleep{
	border-bottom: 1px solid #b4b4b4;
	border-top: 10px solid #171c20;	
	border-right: 1px solid #b4b4b4;
}

.tab-sleep a{
	color:#a47f1a;	
}

.tab-sleep a:hover{
 color:#201f1e;	
}

.tab-sleep  p{
	font-size: 1em;
	margin-top:5px;
	margin-bottom:5px
	 
}
.tab-active  p{
	font-size: 1.2em;
	margin-top:5px;
	margin-bottom:5px
	 
}

.tab-active {
	border-top: 10px solid #990000;
}

.content-main .category-list{
 padding-left:50px;
	
}

.content-main .category-list ul{
	list-style:none;
	padding-left:0px;
	
}

.content-main .category-list ul li{
	color:#990000;	
}

.content-main .category-list ul li span{
	font-size:0.8em;	
}



/* singlie item page slider */

.demo .item{
            margin-bottom: 30px;
        }
		.content-slider li{
		    background-color: #ed3020;
		    text-align: center;
		    color: #FFF;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		.demo{
			width: 100%;
		}
		
		.demo img{
			width:100%;
			height:auto;
			
		}
		.demo p{
			color:#b1b1a8;	
		}
 		modal-dialog {
			max-width:1200px;
			
		}
		.close{
			font-size: 5rem;
		
		}



/* content block of single item */
.item-title h1, .item-title h2, .item-title h3, .item-title h4, .item-title h5, .in-category-title h1, .in-category-title h2, .in-category-title h3, .in-category-title h4{
	margin-top:0px;	
	}
	
.item-title h1{
	font-size:5.063rem;
	color:#b1b1a8;	
	border-right: 1px solid #b1b1a8;	
}

.item-content a{
	color:	#a47f1a;
	text-decoration:underline;
}

.item-content a:hover,.item-content a:focus,.item-content a:active{
	text-decoration:underline;
	color:inherit;
	
}
.item-content .social{
	text-align:left;
	padding-left:0px;	
}

.item-content .social a{
	color:inherit;
	
	
}
.item-content .social a:hover{
	color:	#a47f1a;
}

.item-content span{
	font-size:1.6rem;
	font-weight:bold;
	line-height:4rem;
	padding-right:20px;
	background:#f3f3f4;
}


.item-content h5:after{
	content:"";
	display:block;
	position:relative;
	top:-20px;
	width:100%;
	border-top:1px solid #b1b1a8;
	z-index: -1;
}

 .item-function{
		  padding-left:20px;
	  }
	  
.description:first-letter{
	font-size:200%;
	
}


/* sub category page layout */

.in-category-title h1{
	font-size:5.063rem;
	color:inherit;			
}
.filter .filter-form{
	margin-top: 1em;
	background:#7e7f79;
	border-top:1px solid #c6c7b7;
	border-bottom:1px solid #c6c7b7;
	padding: 15px 30px;
	
}

.filter {
	font-size:1.4rem;
}

.filter label{
 color:#f6f4ec;
 margin-right:5px;	
 display:inline-block;
}

.filter-select{
	display:inline-block;
	width:80%;	
}

.ms-drop label{
	font-size:1.4rem;
	color:#646461;	
}


.item-list{
	-webkit-box-shadow:0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	background:#fff;
	position:relative;
	min-height:500px;
	
}

.order{
	background:#fff;
	padding: 10px;
	}

.filter-more{
background:#fff;
padding: 10px 10px 20px;
border-bottom:1px solid #ccc;		
}

.collapse[id="collapseExample2"] 
{
	background:#fff;
	color:#646461;	
	
}

.result-item{
	padding: 20px 30px;
	margin-left:0px;
	margin-right:0px;
	border-top:1px solid #afafa3;
}

.result-item h1, .result-item h2, .result-item h3, .result-item h4, .result-item h5{
	margin-top:0px;
	
}


.result-item h3{
	color:#b1b1a8;	
}

	  
	  

@media (max-width: 1200px){
	
	/* link more block */
	.image-preview-container{
		padding-bottom:30%;
		padding-top:35%;	
	}

	.image-preview-container2{
		padding-bottom:65%;
		padding-top:50%;	
	}
	
}

@media (max-width: 1000px){
	
.image-preview-container, .image-preview-container2{
			padding-bottom:15%;
			padding-top:15%;	
		}
.thumbnail + h5, .thumbnail + h5 + p{ text-align:center;}
		
.item-content,item-content-title{
	padding:0px 20px;

	}	
	
.item-title h1{
	font-size:5.063rem;
	color:#b1b1a8;	
	border-right: none;
	text-align:center;	
}	


.in-category-title h1{
    font-size:5.063rem;
	text-align:center;
	
}
		
}

@media screen and (max-width: 768px)
{
	
		  /*body{ padding-top:82px;}*/
	  
		  /* Navgation */
		  .navbar {
			min-height: 80px;
			margin-bottom: 10px;
		  }
			
		 .navbar-brand { max-height:50px;}	
		 .navbar-brand img{ max-height: 50px;}
		 .navbar-form{
			  margin-top:0px;
			  margin-bottom:0px;
			  font-size:12px; 
		  }
			
		 #mobile-search{
			 font-size: 2.4rem;
			 margin-top: 26px;
			 margin-right: 20px;
		 }
		.navbar-nav>li>a{  margin-left: 10px;  }
		a[id="mobile-search"]:hover,a[id="mobile-search"]:focus{color: #a47f1a;}
		a[id="mobile-search"]{color:#f6f4ec;}
		 .navbar-offcanvas {width: 220px;}
			
		/*Carousel Customer*/	
			
			.carousel-caption {min-height:130px;}		
			.carousel-indicators{bottom: 140px;}
			.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{top:25%;}
	
		/* Font*/
		body{ font-size:1.4em;}
		h1{font-size:3.157em;}
		h2{font-size:2.369em;}
		h3{font-size:1.777em;}
		h4{font-size:1.333em;}
		
		.tab-sleep  p{
			font-size: 0.8em;
			}
		.tab-active  p{
			font-size: 0.8em; 
		}
		
}

@media (min-width: 768px) {
	
	/* Navgation */
	  .navbar-nav > li > a {
		padding-top: 14px;
		padding-bottom: 10px;
	  }
	  
	  .navbar-nav > li{
		  margin-right:10px;  
	  }
	  .navbar-nav > li:nth-last-child(1){
		  margin-right:0;
		  width:130px;
	  
	  }
	  .navbar-nav > li:nth-last-child(1) a{
		   padding-bottom: 0px;
		  border-right:1px solid #f6f4ec;
	  }
	  .nav ul{padding-top:15px; }
	  
	  .navbar-form{
		  margin-top:10px;
		  margin-bottom:0px;
		  font-size:12px; 
	  }
	  
	  .navbar-form .btn {font-size:1rem;}
	  .navbar-form input[type="text"]{
		  font-size:1.2rem;
		  height:32px;
		  max-width:140px;
	  }
	  
	  #collapseExample{display: none; }	  
	  .modal-dialog {
			width:inherit;
			max-width:1200px;
		}
		
	   .item-content{
		   margin-bottom: 30px;   
	   }
			

	  
	 
}